// Paragraph

.paragraph {
  margin-top: $leading;
  margin-bottom: $leading;
}

// Blockquote

.blockquote {
  margin: $leading 0;
  padding: 0 $leading;
}

// Title

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: $leading;
  margin-bottom: $leading;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $leading;
}

.subtitle {
  margin-top: -$leading;
  font-weight: $base-font-weight;
}

// List

.list {
  margin-top: $leading;
  margin-bottom: $leading;

  &__item {
    line-height: $leading;
  }

  &__sublist {
    margin-top: 0;
    margin-bottom: 0
  }
}

// Button

.btn {
  display: inline-block;
  height: $leading;
  padding: 0 ($leading / 2);
  border-width: 0;
  background: transparent;
  line-height: $leading;
  text-decoration: none;
}

// Grid

.row {
  display: table;
  width: 100%;
}

.column {
  display: table-cell;
}

.container {
  padding-left: $leading;
  padding-right: $leading;
}

// Panel

.panel {
  margin-bottom: $leading;

  &__title {
    height: $leading;
    margin: 0;
    padding: 0 $leading;
    font-size: 100%;
  }

  &__body {
    margin: $leading;
  }
}

// Table

.table {
  margin: $leading 0;
  border-spacing: 0px;
  border-collapse: collapse;

  &__cell, &__header {
    padding: ($leading / 2);
    line-height: $leading;
  }

  &__header {
    font-weight: $heading-font-weight;
  }
}
