$base-font-size: 1rem;
$base-font-family: ('Roboto', 'Helvetica Neue', sans-serif);
$base-font-weight: 300;
$base-line-height: 1.5;

$heading-font-family: $base-font-family;
$heading-font-weight: 500;

$base-color: rgb(232, 232, 232);
